extends ../layout

block content
	ul
		each repo in repos
			li
				a(href=repo.html_url)= repo.full_name
				form(action="#{settings.mountPoint}/repos/#{repo.full_name}/hook", method="POST")
					button(type="submit") Create Hook
		