extends ./layout

block content

	.row
		.col-md-10.col-md-offset-1
			.text-center.row-spaced
				.page-header
					h1 ShareLaTeX Cloud Compiler
				p
					| Connect your public LaTeX GitHub repositories and
					| we'll automatically compile
					| your LaTeX code to a PDF on each change.
					
				p
					a.btn.btn-lg.btn-info(href="#{settings.mountPoint}/login") Log in with GitHub
					
				.row-spaced
					p &nbsp;
		
	.row.row-spaced
		.col-md-10.col-md-offset-1
			.card
				.page-header
					h2 How does this work?
				
				p
					| We run a LaTeX compiler in the cloud which listens for changes to your Github repository.
					| When you make a change, we compile the latest content and host the PDF and log files for
					| you.
					
				p
					| You can embed a badge into your project's README or website so that you can see the latest
					| compile status and access the PDF with a single click.
					
				include ./_help